Repository voxpupuli/puppet-misp, pull requests merged in 2018-09, with the labels that each got.

#35 (#33) Use selboolean instead of exec for SELinux
  manifests/config.pp
  metadata.json
  spec/classes/config_spec.rb
Labels: enhancement, needs-work

#36 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#37 release 0.6.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
