Repository voxpupuli/puppet-misp, pull requests merged in 2024-02, with the labels that each got.

#74 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#58 delete legacy travis directory
  .travis/setup.sh
Labels: tests-fail

#75 puppetlabs/vcsrepo: Allow 6.x
  metadata.json
Labels: enhancement

#76 Add CentOs Stream 8 and 9 support
  metadata.json
Labels: enhancement
